h1 {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
}

#menu,
#forms {
    text-align: center;
}

td {
    text-align: left;
}

form {
    display: inline-block;
}

button {
    margin: 6px;
    min-width: 150px;
    min-height: 40px;
    border-radius: 8px;
    border: 0px;
    background-color: olive;
    font-weight: bold;
}

button:hover {
    color: darkred;
}

img {
    height: 200px;
    width: 200px;
    margin: auto;
}

.card {
    width: 250px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    margin: 6px;
    float: left;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
